version: '3.9'
services:
  auth-service:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "4000:4000"
  stock-service:
    build: ./stock-service
    ports:
      - "4001:4001"
  portfolio-service:
    build: ./portfolio-service
    ports:
      - "4002:4002"
  notification-service:
    build: ./notification-service
    ports:
      - "4003:4003"
  websocket-service:
    build: ./websocket-service
    ports:
      - "4004:4004"
  api-gateway:
    build: ./api-gateway
    ports:
      - "3000:3000"
